@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');





*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    vertical-align: middle;
}

h1,h2,h3,h4,h5,h6,li,p,div{
    margin: 0;
    padding: 0;
}


:root{
    --poppins:'Poppins', sans-serif;
    --manrope:'Manrope', sans-serif;
}



/*==============Navbar-part-start==============*/
#navbar-part{
    padding: 32px 0;
    background: #1C1E53;
}

#navbar-part .custom_navbar ul{
    align-items: center;
}


#navbar-part .custom_navbar ul li a{
    color: #BBBBCB;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    padding-right: 28px;
    transition: all linear 0.3s;
}

#navbar-part .custom_navbar ul li a:hover{
    color: #FFF;
}

#navbar-part .custom_navbar .contact_btn{
    padding-left: 35px;
}

#navbar-part .custom_navbar .contact_btn a button{
    color: #FFF;
    font-family:var(--poppins);
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: transparent;
    padding: 16px 48px;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);
}

#navbar-part .custom_navbar .contact_btn a button:hover{
    background: #FFF;
    color: #1C1E53;
}

/*==============Navbar-part-end==============*/



/*==============about-part-Start==============*/

#about-part{
    padding: 128px 0;
}

#about-part .about-text h5{
    color: #282938;
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 8px;
}

#about-part .about-text h1{
    color: #282938;
    font-family: var(--poppins);
    font-size: 54px;
    font-weight: 600;
    padding-bottom: 32px;
}

#about-part .about-text p{
    color:#282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    padding-right: 27px;
}

/*==============about-part-end==============*/




/*==============Who-we-are-part-end==============*/

#who_we_are-part .title-text h5{
    padding-left: 73px;
}
#who_we_are-part .title-text h5{
    color:  #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 4px;
}

#who_we_are-part .bg_colors{
    background: #F4F5F5;
    padding: 80px 0;
}

#who_we_are-part .goal-text h2{
    color: #282938;
    font-family: var(--poppins);
    font-size: 38px;
    font-weight: 600;
}
#who_we_are-part .goal-text p{
    color:  #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    padding-top: 16px;
    opacity: 0.7;

}

#who_we_are-part .improvement-text h2{
    color: #282938;
    font-family: var(--poppins);
    font-size: 38px;
    font-weight: 600;
}

#who_we_are-part .improvement-text p{
    color:  #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    padding-top: 16px;
    opacity: 0.7;
}





/*==============Who-we-are-part-end==============*/



/*==============process-part-start==============*/
#process-part{
    padding: 128px 0;
}
#process-part .process-title{
    margin-bottom: 50px;
}
#process-part .process-title h2{
    color:  #282938;
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
} 

#process-part .process-contant .dot-line span{
    position: relative;
}

#process-part .process-contant .dot-line span::after{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #2405F2;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
} 


#process-part .process-contant .dot-line picture{
    margin-left: 45px;
}

#process-part .process-contant h4{
    color:  #282938;
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 500;
    padding-top: 32px;
}

#process-part .process-contant p{
    color:  #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    padding-top: 10px;
}


/*==============process-part-end==============*/



/*==============Mission-part-start==============*/

#our-mission-part{
    padding: 128px 0;
    background: #EEF4FA;
}

#our-mission-part .our-mission-text{
    padding-top: 54px;
}

#our-mission-part .our-mission-text h5{
    color:  #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 16px;
}

#our-mission-part .our-mission-text h2{
    color:  #282938;
    font-family: var(--poppins);
    font-size: 38px;
    font-weight: 600;
    padding-bottom: 16px;
}

#our-mission-part .our-mission-text p{
    color:  #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    padding-right: 5px;
}

#our-mission-part .our-vision-image{
    padding-top: 96px;
}

#our-mission-part  .our-vision-text{
    padding-top: 149px;
}

#our-mission-part  .our-vision-text h5{
    color:  #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 16px;
}

#our-mission-part  .our-vision-text h2{
    color:  #282938;
    font-family: var(--poppins);
    font-size: 38px;
    font-weight: 600;
    padding-bottom: 16px;
}

#our-mission-part  .our-vision-text p{
    color:  #282938;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    padding-right: 5px;
}


/*==============Mission-part-end==============*/



/*==============benefits-part-start==============*/
#benefits-part{
    padding: 128px 0;
}
#benefits-part  .benefits-title{
    padding: 0px;
}

#benefits-part  .benefits-title h2{
    color: #282938;
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
} 


/*==============benefits-part-end==============*/